/* CSS styles */
h1 {
font-family: Serif, Garamond;
color: #82896e;
}
h2 {
  font-family: Serif, Garamond
    color: #ffdeec;
}
h3 {
  font-family: Serif, Garamond
    color: #70675c;
}
selector {background-color: #c9b9a4}
p{font-size: 18px}
.element {
  border-width: 1px;
  border-style: solid;
  border-color: black;
}
